@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #fc8d4d;
  --color-secondary: #0db2ac;
  --color-amarilo: #f5dd7e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities{
  .clip-ellipse {
    clip-path: ellipse(50% 50% at 50% 50%);
  }
  
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  }
  
  .clip-wave {
    clip-path: ellipse(100% 55% at 48% 44%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-cardHome {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

.shadow-cardWhatsapp {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}